[submodule ".config/nvim/nvim-config"]
	path = .config/nvim/nvim-config
	url = https://github.com/Konstantion/nvim-config.git
[submodule "backgrounds"]
	path = backgrounds
	url = https://github.com/Konstantion/backgrounds.git
[submodule ".config/personal/completions"]
	path =.config/personal/completions
	url = https://github.com/gradle/gradle-completion
